/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/geographeditweb-medium.woff2	') format('woff2'),
		url('../fonts/geographweb-regular.woff2') format('woff');
	font-weight: normal;
	font-style: normal;

}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button:not[disabled],
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
	--font: 'eenfont', sans-serif;
}

@media (prefers-color-scheme: dark) {

	/* Styles for dark mode */
	:root {
		/* startje */
		--color-text: #fff;
		--color-background: #111;
	}
}

/****************/
/* JOUW STYLING */
/****************/

body {
	font-family: var(--font);
	color: var(--color-text);
	background-color: var(--color-background);
}

/* jouw code */

body>section {
	height: 100vh;
	align-items: center;
	justify-content: center;
	display: flex;
}

h1 {
	font-size: 2.5rem;
	vertical-align: top;
	display: flex;
	align-items: center;
}

/* This is the sliding box */
body>section>h1>section {
	padding: 0 .6rem 0 .6rem;
	border: #eac715 solid .5rem;
	color: #eac715;
	right: 0;
	transform: translateX(100%);
	animation: slideIn 1s forwards,
		slideAndFill 2s linear forwards,
		changeColorText 1s linear forwards;
	animation-delay: 0s, 1s, 2s;
}

/* This is the class I used for the box on the left to fill it with water */
.box {
	width: 4rem;
	height: 7rem;
	position: relative;
	display: inline-block;
	margin: 0 1rem 0 0;
	box-shadow: inset 0 0 0 .5em #eac715;
	overflow: hidden;
}

.box:before {
	content: "";
	position: absolute;
	width: 30em;
	height: 30em;
	background-color: #0279a8;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 40%;
	animation: fill 10s ease-in-out;
	z-index: -2;
}


/* This animation is for the sliding box from right to left */
@keyframes slideIn {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0%);
	}
}

/* This animation fills the background of the box above here with yellow  */
@keyframes slideAndFill {
	0% {
		left: -100%;
		background-color: transparent;
	}

	50% {
		left: 0%;
		background-color: transparent;
	}

	100% {
		left: 0%;
		background-color: #eac715;
	}
}

/* This changes the color of the letters inside the box once it fills up. So it stays readable */
@keyframes changeColorText {
	0% {
		color: #eac715;
	}

	100% {
		color: var(--color-text);
	}
}

/* This fills the national geographic logo with water */
@keyframes fill {
	from {
		top: 250px;
		transform: translateX(-50%) rotate(0deg);
	}

	to {
		top: -50px;
		transform: translateX(-50%) rotate(360deg);
	}
}


/* Small devices (landscape phones) */
@media (min-width: 20em) {
	h1 {
		font-size: 1.2rem;
		margin: 0;
	}

	h1::before {
		box-shadow: inset 0 0 0 .3em #eac715;
	}
}

/* Medium devices (tablets) */
@media (min-width: 30em) {
	h1 {
		font-size: 1.8rem;
	}
}

/* Large devices (desktops) */
@media (min-width: 48em) {
	h1 {
		font-size: 2.4rem;
	}
}

/* Extra large devices (large desktops) */
@media (min-width: 64em) {
	h1 {
		font-size: 3.2rem;
	}
}